**复习：**数据分析的第一步，加载数据我们已经学习完毕了。当数据展现在我们面前的时候，我们所要做的第一步就是认识他，今天我们要学习的就是**了解字段含义以及初步观察数据**。

## 1 第一章：数据载入及初步观察

### 1.4 知道你的数据叫什么
教材《Python for Data Analysis》第五章

#### 1.4.1 任务一：pandas中有两个数据类型DateFrame和Series，通过查找简单了解他们。然后自己写一个关于这两个数据类型的小例子🌰[开放题]

In [1]:
import numpy as np
import pandas as pd

In [2]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [3]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

#### 1.4.2 任务二：根据上节课的方法载入"train.csv"文件和上一节课保存的"train_chinese.csv"文件

我们在通过翻译版train_chinese.csv熟悉了这个数据集，然后我们对trian.csv来进行操作
#### 1.4.3 任务三：查看DataFrame（trian.csv）数据的每列的项

#### 1.4.4任务四：查看"cabin"这列的所有项 [有多种方法]

In [1]:
#方法一

In [2]:
#方法二

经过我们的观察发现一个测试集test_1.csv有一列是多余的，我们需要将这个多余的行删去
#### 1.4.5 任务五：加载文件"test_1.csv"，然后对比"train.csv"，看看有哪些多出的列，然后将多出的列删除

In [3]:
# 载入’train.csv‘和’test_1.csv‘两个数据

#### 1.4.6 任务六： 将['PassengerId','Name','Age','Ticket']这几个列元素隐藏，只观察其他几个列元素

【思考】对比任务五和任务六，是不是使用了不一样的方法(函数)，如果使用一样的函数如何完成上面的不同的要求呢？

In [5]:
# 思考回答，写到下面

### 1.5 轴的逻辑

#### 1.5.1 任务一： 我们以"Age"为筛选条件，显示年龄在10岁以下的乘客信息。

#### 1.5.2 任务二： 以"Age"为条件，将年龄在10岁以上和50岁以下的乘客信息显示出来，并将这个数据命名为midage

【提示】了解pandas的条件筛选方式以及如何使用交集和凝集操作

#### 1.5.3 任务三：将midage的数据中第100行的"Pclass"和"Sex"的数据显示出来

#### 1.5.4 任务四：将midage的数据中第100，105，223行的"Pclass"，"Name"和"Sex"的数据显示出来

【提示】使用pandas提出的简单方式，你可以看看loc方法

#### 1.5.5 任务五：使用iloc方法将midage的数据中第100，105，223行的"Pclass"，"Name"和"Sex"的数据显示出来